
@import '../../../styles/variables.scss';

.btn {
    padding: 1rem;
    color: white;
    padding: 1rem;
    color: white;
    border: none;
    width: 100%;
  }
  
  .btnSecondary {
    background-color:#d82246;
    transition: all 0.6 ease-out;
    &:hover {
        background-color:#d82246;
        transition: all 0.6 ease-out;
      }
  }
  