/* Scooty section stated here */
.sectionScooty {
    display: grid;
    grid-template-columns: 1fr;
    .scootyLeftSection {
        margin: 2rem;
      }
      .scootyRightSection {
        grid-row: 1;
      }
    
    @media only screen and (min-width: 720px) {

          grid-template-columns: 1fr 1fr;

        .scootyRightSection {
          grid-row: 1;
          grid-column: 2;
        }
       .scootyLeftSection{
          margin-left: 6rem;
        }
      
       
      }
      @media only screen and (min-width: 320px) and (max-width: 720px) {
        margin-top: 17.4rem;
    }
  }
 


  
  