$greenStarHover: rgba(7, 152, 147, 0.8);
$greenStarLight: #e3fffe61;
$dbStorm: #2e3a59;
$black: #000;
$white: #fff;

$blackColor:#0B0D17;
$blueColor:#D0D6F9;
$clr-skyblue:225deg 67% 98%;
$primaryColor:#a4508b; 
$lightOrchidColor: #2e1e4d;
$whiteColor:#ffffff;
$orange:358deg 73% 49%;
$clr-gray:210deg 3% 75%;
$clr-dark:230 35% 7%;
$clr-light:231 77% 90%;
$clr-white:0 0% 100%;