@import '../../../styles/variables.scss';

.inputContainer{

 label{
        position: absolute;
        font-size: 0.8rem;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        color: hsl($clr-gray);
        padding: 0 0.3rem;
        margin: 0 0.5rem;
        transition: 0.1s ease-out;
        transform-origin: left top;
        pointer-events: none;
}



 input {
    font-size: 0.9rem;
    outline: none;
    border: 1px solid hsl($clr-gray);
    padding: 1rem 0.7rem;
    color: hsl($clr-dark);
    transition: 0.1s ease-out;
    width: 93%;
  }
  input:focus {
    border-color: #6200ee;
  }
 input:focus + label {
    color: #6200ee;
    top: 0;
    transform: translateY(-50%) scale(0.9);
  }
  input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(0.9);
  }

}
